body {
  background-color: #e8f0f8;
  color: #183048;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 10px;

  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

/* Content area */

section {
  background-color: #f4f8fc;
  border: 1px solid #b8d0e8;
  margin: 10px;

  flex-basis: 22em;
  flex-grow: 1;
  overflow: auto;
}
section > * {
  display: block;
  margin: 20px;
}

/* Toggle groups */

fieldset {
  border: 0 none;
  padding: 0;
  line-height: 1.68em;
}
fieldset legend {
  color: #285078;
}
fieldset label {
  display: block;
}

/* Headers */

h1,
h1 a,
h1 a:visited,
h2 {
  color: #285078;
  font-weight: normal;
}
h1 {
  font-size: 1.41em;
}
h2 {
  font-size: 1.19em;
}

/* Buttons */

button {
  background-color: #e8f0f8;
  border: 1px solid #b8d0e8;
  border-radius: 0.5em;
  font: 0.84em Arial, Helvetica, sans-serif;
  padding: 0.5em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
button:active {
  background-color: #d0e0f0;
}
